h1 {
    font-size: 2em;
    color:rgb(10, 10, 8);
    text-align: center;
    background-color: rgb(222, 226, 225);
    border-radius: 50em;
    font-family:Georgia;
  }

p{
    font-size: small;  
}